<mat-card class="card card__product">

  <img mat-card-image
    class="cart__image"
    src="https://placehold.co/150x200"
    alt="Photo: 150x200"
  >

  <div class="cart-cart__detail">

    <mat-card-header class="card__header">
      <mat-card-title>Shoes</mat-card-title>
      <mat-card-subtitle class="cart__sub-title">Snikers</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Description product</p>
      <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-actions class="card__actions">
      <span mat-button class="product-price">{{ '250' | currency }}</span>
      <button mat-button class="card__button">
        <mat-icon class="icon-add-shopping-cart">add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-footer></mat-card-footer>

  </div>

</mat-card>
