<mat-toolbar class="toolbar">
  <a routerLink="home">
    <span>Store</span>
  </a>
  <span class="example-spacer"></span>

  <button mat-button
    class="shopping-cart-icon"
    aria-label="Example icon-button with heart icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon
      [matBadge]="itemsQuantity"
      [matBadgeHidden]="! itemsQuantity"
      matBadgeOverlap="false"
      matBadgeColor="warn"
      class="demo-section"
    >shopping_cart</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div class="shopping-cart-menu">

      <div class="shopping-cart-info">
        <span>{{ itemsQuantity }} items</span>
        <a routerLink="/cart">
          View cart
          <!-- <mat-icon
            matBadgeOverlap="false"
            matBadgeColor="warn"
            class="demo-section"
          >shopping_basket</mat-icon> -->
        </a>
      </div>

      <div
        class="shopping-cart-items"
        *ngIf="cart.items.length">

        <div
          class="shopping-cart-item"
          *ngFor="let item of cart.items"
        >
          <span class="product-detail">
            <span class="product-name">{{ item.name }}</span> x
            <span class="product-quantity">{{ item.quantity }}</span>
          </span>
          <span class="product-price">{{ item.price | currency }}</span>
        </div>

      </div>

      <div class="shopping-cart-total">
        <span>Total</span>
        <span class="total-price">{{ getTotal( cart.items )  | currency }}</span>
      </div>

      <div class="shopping-cart-total">
        <button
          (click)="onClearCart()"
        >
          <mat-icon
            matBadgeOverlap="false"
            matBadgeColor="warn"
            class="demo-section"
          >remove_shopping_cart</mat-icon>
        </button>

        <mat-icon
          matBadgeOverlap="false"
          matBadgeColor="warn"
          class="demo-section"
        >shopping_cart_checkout</mat-icon>
      </div>


    </div>
  </mat-menu>



</mat-toolbar>
