<mat-card
  class="card card-table__product"
  *ngIf="cart.items.length"
>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Las celdas reales de la tabla -->

    <!-- Product Image Column -->
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let element"
        class="product__name"
      >
        <img src="{{ element.urlProduct }}" class="" alt="product" />
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button
          routerLink="/home"
        >Continue shopping!</button>
      </td>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"
        class="product__name"
      >
        <span>{{ element.name }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

      <!-- Product Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element"
        class="product__name"
      >
        <span>{{ element.price | currency }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Product Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element"
        class="product__name"
      >

        <div class="content-quantity">
          <button mat-icon-button>
            <mat-icon>remove</mat-icon>
          </button>

          <span>{{ element.quantity }}</span>

          <button mat-icon-button>
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Product Total Value Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element"
          class="product__name"
        >
        <span>{{ element.price * element.quantity | currency }}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <span class="total-value">{{ getTotal( cart.items ) | currency }}</span>
        </td>
    </ng-container>

    <!-- Product Total Value Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-raised-button
          (click)="onClearCart()"
          class="btn-clear-all"
        >Clear all</button>
      </th>
      <td mat-cell *matCellDef="let element"
        class="product__name"
      >
        <button mat-mini-fab
          (click)="onRemoveFromCart( element )"
        >
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button class="btn-checkout">Proceed to checkout</button>
      </td>
    </ng-container>


    <!-- Marcadores de posicion donde vamos a desplegar los datos de nuestra muestra en nuestra tabla -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>

</mat-card>
<mat-card
  class="card card-table__product"
  *ngIf="! cart.items.length"
>

  <p>Your cart is empty
    <button mat-raised-button
      routerLink="/home"
    >Start shopping!</button>
  </p>

</mat-card>
